<% content_for :head do%>
<%= javascript_include_tag 'orderindex', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li class="active"><a href="/home/admin">管理员</a></li>
			<li class="active">订单处理</li>
		</ol>
		<%= link_to 'New order',new_order_path %>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>id</th><th>time</th><th>secke</th><th>stage</th><th>list</th><th>显示</th><th>编辑</th><th>删除</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.time %></td>
					<td><%= order.secke %></td>
					<td class="color"><%= order.stage %></td>
					<td><%= order.list %></td>
					<td><%= link_to 'Show',order_path(order) %></td>
					<td><%= link_to 'Edit',edit_order_path(order) %></td>
					<td><%= link_to 'Destroy',order_path(order),method: :delete %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>	
</div>