<div>
<h4>适用于P1007/P1008/P1106/P1108/M1136/M1213nf/M1216nfh</h4>
<%= link_to image_tag "tmp/101_1.jpg" %>
<%= link_to image_tag "tmp/101_2.jpg" %>
<%= link_to image_tag "tmp/101_3.gif" %>
<%= link_to image_tag "tmp/101_4.jpg" %>
<%= link_to image_tag "tmp/101_5.jpg" %>
<%= link_to image_tag "tmp/101_6.jpg" %>
<%= link_to image_tag "tmp/101_7.jpg" %>
</div>